* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 2;
    background-color: #f9f9f9;
}

.container {
    max-width: 1000px;
    margin: 0;
    padding: 20px;
    border: 2px solid #ff1493;
}
    
header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header-left {
    display: flex;
    align-items: center;
}
